@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #bb86fc;
  --secondary-color: #03dac5;
  --button-bg: #1f1f1f;
  --button-hover: #333333;
}